<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

  
  <div class="container">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/My-Performance">My-performance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/balance-pie-chart">Balance</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/force-pie-chart">Force</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/endurance-pie-chart">Endurance</a>
      </li>
    </ul>
    <div>
        <router-outlet></router-outlet>
    </div>
  </div>

</body>
</html>